@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-roboto: var(--font-roboto-sans);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

html,
body {
  height: 100%;
  overscroll-behavior: none;
  -webkit-overflow-scrolling: touch;
}

body {
  position: relative;
  font-family: var(--font-roboto);
}

.background {
  position: fixed;
  inset: 0;
  z-index: 0;
  background: #0b0f14;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE, Edge */
  scrollbar-width: none; /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.snap-y {
  scroll-snap-type: y mandatory;
}

.snap-start {
  scroll-snap-align: start;
}
