@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

html,
body {
  overscroll-behavior: none;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-roboto: var(--font-roboto-sans);
}

.background {
  position: fixed;
  inset: 0;
  z-index: 0;
  background: #0b0f14;
}

.clouds {
  position: absolute;
  inset: 0;
  pointer-events: none;
  z-index: 1;
}

.cloud {
  position: absolute;
  width: 900px;
  height: 900px;
  border-radius: 50%;
  filter: blur(140px);
  opacity: 0.45;
}

/* Холодный синий */
.cloud-blue {
  background: rgba(56, 189, 248, 0.15); /* sky-400 */
  top: 5%;
  left: 5%;
}

/* Приглушённый фиолетовый */
.cloud-purple {
  background: rgba(168, 85, 247, 0.2); /* violet-500 */
  bottom: 10%;
  right: 5%;
}


.background-image {
  position: absolute;
  inset: 0;
  z-index: 0;

  background-image: url("/images/bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  /* важные штуки */
  transform: translateZ(0);
  will-change: transform;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE, Edge */
  scrollbar-width: none;    /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
  display: none;            /* Chrome, Safari */
}